<h2>Interpolation</h2>

<p>O {{nome}} tem {{idade}} anos!</p>

<p>{{nome}} tem mais de 28 anos?</p>

<p>{{idade > 28}} </p>

<p>Quanto é {{idade}} + {{maisUm}}</p>

<p>{{idade + maisUm}}</p>

<hr>

<h2>Property Binding</h2>

<button [disabled]="checkedDisabled">Botão</button>

<img [src]="imagem" [alt]="imagemAlt">

<br>
<br>

<hr>

<h2>Event Binding</h2>

<button (click)="alertaInfo($event)">BOTÃOZAO</button>

<div (mousemove)="mouseMoveFunction($event)" style=" background-color: blue; width: 300px; height: 300px;"></div>

{{position.x}} -- {{position.y}}

<hr>

<h2>Two-Way Binding</h2>

<input [(ngModel)]="nome">

{{nome}}

