<!-- <app-data-binding></app-data-binding> -->
    <!-- <app-diretivas-estruturais></app-diretivas-estruturais> -->
    <!-- <app-diretivas-atributos>
     <h1>CABEÇALHO</h1>
     <h3>RODAPÉ</h3>
    </app-diretivas-atributos>

    <app-diretivas-atributos>
     <h1>CABEÇALHO 2 </h1>
     <h3>RODAPÉ 2</h3>
    </app-diretivas-atributos> -->
    <!-- <app-new-component></app-new-component>
    <app-diretivas-atributos></app-diretivas-atributos> -->

    <!-- <app-input [contador] = "addValue"></app-input>
    <button (click)="add()">Incrementar</button> -->

    <!-- <ng-template [ngIf] = "getDados">
      <h3>Componente Pai</h3>
      <h1>{{getDados.nome}}</h1>
      <h1>{{getDados.idade}}</h1>
      <hr>
    </ng-template>
    <app-output (enviarDados) = "setDados($event)"></app-output>

    <router-outlet></router-outlet> -->

    <hr>


    <app-food-add></app-food-add>
    <app-food-list></app-food-list>

